<div id="sobremi">
  <div class="cabecera">
    <span class="icon-sobremi"> </span>
  </div>
  <div class="miDescripcion">
    <p>Mi nombre es Ana. Soy ingeniero técnico informático y diseñador gráfico.</p> 
    <p>El diseño y la programación web es mi estilo de vida. Creo en la pasión, en el cuidado del detalle, porque hace que el diseño sea especial en cada proyecto y tengan ese "toque" de  personalidad que los hace diferentes del resto.</p>
    <p>Mi experiencia profesional, está avalada por todos los proyectos en los que he participado, abarcando desde la experiencia de usuario a la administración de los sistemas.</p>
    <p>Estos objetivos se consiguen mediante un diseño simple y eficaz, y una actualización rápida de los contenidos, apoyada por una gestión integrada del proyecto y un seguimiento del producto desde su inicio hasta su entrega.</p>
    <p class="oscuro">Echa un vistazo a mi <a class="enlace" href="#portfolio">portfolio</a> y usa el formulario de <a class="enlace" href="#contacto">contacto</a>.</p>	
    <p class="oscuro">Si quieres saber más también puedes consultar mi currículum <a target="_blank" class="enlace" href="pdf/curriculum.pdf">aquí</a>.</p>	
  </div>
</div>
